@import '../scss/mixins.scss';
.main{
    @include block(auto);
    justify-content: center;
    background-color: #F5F7FF;
    &__container{
        @include container();
        flex-direction: column;
    }
}